@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

body {
  background:
  linear-gradient(rgb(12, 0, 103), transparent),
  linear-gradient(to top left, rgb(64, 0, 61), transparent),
  linear-gradient(to top right, rgb(0, 124, 103), transparent);
  background-blend-mode: screen;

  color: white;

  display: flex;
  justify-content: center;

  font-family: 'Montserrat Variable', Times, serif;
}

.icon {
  color: white;
  font-size: 2em;
}


